@media (max-width: 1199px) {
    .header {
        display: none;
    }

    .header_under1200 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        backdrop-filter: blur(20px);
        background: rgba(255, 255, 255, 0.8);
        transition: box-shadow, background-color .25s ease;
        box-shadow: 0 12px 34px -11px rgb(65 62 101 / 10%);
        border-top-left-radius: 0 0;
        border-top-right-radius: 0 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }


    .nav_burger_wrapper {
        display: flex;
        justify-content: space-between;
        width: 0;
        left: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        border-radius: 0px 10px 10px 0px;
        position: fixed;
        z-index: 200;
        overflow: hidden;
        font-size: 20px;
        backdrop-filter: blur(40px);
        background: rgba(47, 54, 64, 0.7);
        color:#fff;
        transition: 0.2s ease-in-out 0.1s;
    }

    .showMenu {
        width: 300px;
        transition: 0.2s ease-in-out 0.2s;

    }

    .nav_burger {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
        margin-top: 100px;
        gap: 24px;
    }

    .contacts p {
       font-size: 12px;
       font-weight: 500;
    }

    .burger_icon {
        cursor: pointer;
        z-index: 30;
    }

    h1 {
        font-size: 60px;
        margin-top: 100px;
    }

    h2 {
        font-size: 32px;
        padding-bottom: 30px;
        text-align: center !important;
        position: relative;
        z-index: 1;

    }

    h3 {
        font-size: 24px;
        padding-bottom: 20px;
    }

    h4 {
        font-size: 16px;
        font-weight: 400;
    }

    .content_wrapper {
        width: 100%;
        margin: 0 20px;
    }


}


@media (max-width:900px) {
    .padding_top_20 {
        padding-top: 20px !important;
    }

    .pb_130px {
        padding-bottom: 60px;
    }

    .footer {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 60px 20px;
        margin-top: 20px;

    }

    .footer_info_wrapper {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 0;
    }

    .footer_info {
        grid-template-columns: 1fr;
    }

}


@media (max-width: 679px) {

    .contacts {
        font-size: 14px;
    }

    h1 {
        font-size: 40px;
        margin-top: 0;
    }

    h2 {
        font-size: 28px;
        padding-bottom: 20px !important;
        text-align: center !important;
        position: relative;
        z-index: 1;
    }

    h3 {
        font-size: 20px;
        padding-bottom: 15px;
    }

    h4 {
        font-size: 14px;
        line-height: 100%;
        font-weight: 400;

    }

    .padding_bottom_20 {
        padding-bottom: 0;
    }

    .book_btn {
        height: 40px;
        width: 120px;
        font-size: 14px;
        margin-right: 10px;
    }

    .navigation a {
        padding-right: 10px;
    }

    .header_under1200 {
        padding: 10px;
    }

    .footer_info_wrapper {
        width: 100%;
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 0;
    }

}


@media (max-width: 480px) {

    h1 {
        font-size: 32px;
        margin-top: 0;
    }

    h2 {
        font-size: 24px;
    }
    .content_wrapper {
        padding-top: 20px;
    }
     .padding_left_10 {
        padding-left: 5px;
    }

    .book_btn {
        height: 40px;
        width: 100px;
        font-size: 12px;
    }

    .mobile_book_btn {
        height: 48px;
        width: 100%;
        font-size: 16px;
    }

}
